.horses {
    padding-top: 10px;
    max-width: 864px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horses__img {
    width: 100%;
}