@media screen and (max-width: 768px) {
    .patagonia__h1 {
        font-size: 72px;
        line-height: 83px;
    }

    .horses {
        width: 617px;
    }
}

@media screen and (max-width: 320px) {
    .patagonia__h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .patagonia__p {
        font-size: 12px;
        line-height: 18px;
    }

    .horses {
        width: 256px
    }
}
